{% extends 'base.html.twig' %}
{% block title %}Dashboard
{% endblock %}
{% block body %}
	<h1>Salutare, in acest moment esti pe dashboard, alege una din pagini folosind navigatorul!</h1>
{% endblock %}